@model Practical_15_FormAuth.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd><br />

        <dt>
            @Html.DisplayNameFor(model => model.Designation) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designation)
        </dd><br />

        <dt>
            @Html.DisplayNameFor(model => model.Salary) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID },new {@class="btn btn-success"}) |
    @Html.ActionLink("Back to List", "Index",string.Empty,new {@class="btn btn-primary"})
</p>
