@model IEnumerable<Practical13_Test2.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Employee List</h2>

<p>
    @Html.ActionLink("Create New", "Create", string.Empty, new { @class = "btn btn-primary" })
    @Html.ActionLink("Linq-1", "Linq1", string.Empty, new { @class = "btn btn-secondary" })
    @Html.ActionLink("Linq-2", "Linq2", string.Empty, new { @class = "btn btn-success" })

</p>
<table class="table text-center table-hover">
    <tr class="table-dark">
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Designation.DesignationName)
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Designation.DesignationName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }, new {@class="btn btn-warning"}) 
            @Html.ActionLink("Details", "Details", new { id=item.Id }, new { @class = "btn btn-info" }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
